@page "/"
@using BlazorSchool.Components.Web.UI.CaptureElement

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<BlazorCaptureElement>
    <div class="border border-3 border-primary">Test</div>
    <BlazorCapturePdfButton class="btn btn-primary">Blazor School Capture</BlazorCapturePdfButton>
</BlazorCaptureElement>