@page "/blazor-window-demonstrate"

<style>
    .grabbable
    {
        cursor: move;
    }
</style>

<div>Button inside window</div>
<BlazorWindow InitialVisibility="false" class="border border-3 border-primary" Token="window-token">
    <BlazorWindowTitle class="grabbable d-flex flex-row">
        <div class="bg-primary text-white">Drag me</div>
        <BlazorWindowCloseButton class="btn btn-danger">Close</BlazorWindowCloseButton>
    </BlazorWindowTitle>
    <BlazorWindowContent>Window content</BlazorWindowContent>
</BlazorWindow>
<BlazorWindowOpenButton class="btn btn-success" TargetToken="window-token">Open</BlazorWindowOpenButton>

<div>Button outside window</div>
<BlazorWindow InitialVisibility="false" class="border border-3 border-primary d-flex flex-column" Token="window-token-2">
    <BlazorWindowTitle class="grabbable bg-primary text-white">Drag me</BlazorWindowTitle>
    <BlazorWindowContent>Window content</BlazorWindowContent>
</BlazorWindow>
<BlazorWindowCloseButton class="btn btn-danger" TargetToken="window-token-2">Close</BlazorWindowCloseButton>
<BlazorWindowOpenButton class="btn btn-success" TargetToken="window-token-2">Open</BlazorWindowOpenButton>