@page "/blazor-accordion-demonstrate"
@using BlazorSchool.Components.Web.UI.Collapse;

<div id="myaccordion">
    <input type="checkbox" id="accordion1" class="hidecontent" />
    <label for="accordion1">Accordion One Heading</label>
    <div class="content hidecontent">
        <p>Content for first Accordion.</p>
        <p>Content for first Accordion.</p>
    </div>
    <input type="checkbox" id="accordion2" class="hidecontent" />
    <label for="accordion2">Accordion Two Heading</label>
    <div class="content hidecontent">
        <p>Content for Second Accordion.</p>
        <p>Content for Second Accordion.</p>
    </div>
    <input type="checkbox" id="accordion3" class="hidecontent" />
    <label for="accordion3">Accordion Three Heading</label>
    <div class="content hidecontent">
        <p>Content for third Accordion.</p>
        <p>Content for third Accordion.</p>
    </div>
</div>
