@page "/"
@using BlazorSchool.Components.Server.Demonstrate.Data
@using BlazorSchool.Components.Web.UI.Window

<PageTitle>Index</PageTitle>

<style>
    .grabbable
    {
        cursor: move;
    }
</style>

@if (DisplayWindow)
{
    <BlazorWindow class="border border-3 border-primary">
        <BlazorWindowTitle class="grabbable d-flex flex-row">
            <div class="bg-success text-white">Window title</div>
            <BlazorWindowCloseAction OnCloseClick="() => DisplayWindow=false">
                Close
            </BlazorWindowCloseAction>
        </BlazorWindowTitle>
        <BlazorWindowContent>Window content</BlazorWindowContent>
    </BlazorWindow>
}
else
{
    <button type="button" @onclick="() => DisplayWindow = true">Open BlazorWindow</button>
}

@code {
    public bool DisplayWindow { get; set; } = true;
}