.grabbable
{
    cursor: move;
}

.blazor-collapse.hide, .blazor-accordion-body.hide
{
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s linear;
}

.blazor-collapse.show, .blazor-accordion-body.show
{
    display: block;
    overflow: hidden;
    max-height: 100vh;
    transition: max-height 0.25s linear;
}
